body.preview {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body.preview section {
	display: flex;
	align-items: center;
}

body.preview .page {
	margin: 0;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
	page-break-after: always;
}

body.preview .word {
	width: 100%;
	height: 100%;
}

/** Page sizes **/
body.preview.A3     .page { width: 420mm; height: 296mm }
body.preview.A4     .page { width: 297mm; height: 209mm }
body.preview.A5     .page { width: 210mm; height: 147mm }
body.preview.letter .page { width: 280mm; height: 215mm }
body.preview.legal  .page { width: 357mm; height: 215mm }

/** Paddings **/
body.preview.padding-10mm .page { padding: 10mm }
body.preview.padding-15mm .page { padding: 15mm }
body.preview.padding-20mm .page { padding: 20mm }
body.preview.padding-25mm .page { padding: 25mm }

/** For screen preview **/
@media screen {
	body.preview { background: grey; }
	body.preview .page {
		background: white;
		box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
		margin: 5mm auto;
	}
}

/** Adjust for Chrome issue #273306 **/
@media print {
	body.A3 { width: 420mm }
	body.A4 { width: 297mm }
	body.A5 { width: 210mm }
	body.letter { width: 280mm }
	body.legal  { width: 357mm }
}
